# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

#binaries
build/
*.exe
*.dmg
*.flatpak

#junk
.DS_Store
app/mediawriter
app/moc_predefs.h
helper/linux/helper
helper/linux/moc_predefs.h
theme/adwaitathemeplugin_metatypes.json
theme/adwaitathemeplugin_qmltyperegistrations.cpp
theme/moc_adwaitathemeplugin.cpp.json
theme/moc_icon.cpp.json
theme/moc_predefs.h
theme/moc_theme.cpp.json
theme/plugins.qmltypes

